<form method="post" action="{{ path('comment_approve', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to approve this comment?');">
    <button class="btn">Approve</button>
</form>