{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}

    <div>
        <h1>welcome to the home page</h1>

        <a href="/house">View all houses</a>
    </div>
{% endblock %}